server:
  port: 8085

spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:h2:mem:authdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password: password
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    show-sql: false
  flyway:
    enabled: true
    locations: classpath:db/migration
  h2:
    console:
      enabled: true
      path: /h2-console

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

security:
  jwt:
    secret: veryLongSecretKeyForJwtUseReplaceInProduction_ChangeMe!
    access-token-minutes: 30
    refresh-token-days: 7

admin:
  seed:
    enabled: true
    full-name: System Administrator
    email: admin@doconnect.com
    password: Admin@123
    role: ROLE_ADMIN

management:
  endpoints:
    web:
      exposure:
        include: health,info
